<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" href="index">
                <!-- Logo icon image, you can use font-icon also --><b>
                <!--This is dark logo icon--><img src="plugins/images/admin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
             </b>
                <!-- Logo text image you can use text also --><span class="hidden-xs">
                <!--This is dark logo text--><img src="plugins/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
             </span> </a>
        </div>
        <!-- /Logo -->
        <ul class="nav navbar-top-links navbar-right pull-right">
          <li class="dropdown">
            <a <% if(user) {%>class="dropdown-toggle" data-toggle="dropdown"<% } %> href="./profile">
              <b>
                <% if(user) {%>
                <%= user.username %>
                <span class="caret"></span>
                <% } else { %>
                  Sign In/Up
                <% } %>
              </b>
            </a>
            <% if(user) {%>
            <ul class="dropdown-menu">
              <li><a href="./profile"><%= user.username %></a></li>
              <li><a href="./users/signout">Sign Out</a></li>
            </ul>
            <% } %>
          </li>
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>Navigation</h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;">
                <a href="index" class="waves-effect"><i class="fa fa-clock-o fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a href="profile" class="waves-effect"><i class="fa fa-user fa-fw"></i>
                <% if(!user) {%>
                  Sign In/Up
                <% } else { %>
                  Profile
                <% } %>
                </a>
            </li>
            <% if(user) {%>
              <% if(user.role == "admin") {%>
                <li>
                    <a href="user_management" class="waves-effect"><i class="fa fa-table fa-fw"></i>User Management</a>
                </li>
              <% } %>
                <li>
                    <a href="data_utilization" class="waves-effect"><i class="fa fa-columns fa-fw"></i>Data Utilization</a>
                </li>
              <% if(user.role == "admin") {%>
                <li>
                    <a href="node_management" class="waves-effect"><i class="fa fa-globe fa-fw"></i>Node Management</a>
                </li>
              <% } %>
            <% } %>
        </ul>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Left Sidebar -->
<!-- ============================================================== -->
<script></script>